.devcontainer
.idea
.ipynb_checkpoints
.pylint.d
.vscode
.vs
__pycache__

storage
walls_data
no_track
running_data
gym_floorplan.egg-info
gym_floorplan.egg-info_L
gym_floorplan.egg-info_W



*.png
*.gif
*.zip
*.mp4
*.ipynb
*.txt
